body{
    background: aqua;
    font-family: arial;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
.kotak{

    width: 350px;
	background: white;
	margin: 80px auto;
    padding: 30px 20px;
    box-shadow: 0 0 5px gray;
}